@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-down {
  animation: fade-down 1s ease-out forwards;
}

.animate-fade-up {
  animation: fade-up 1s ease-out forwards;
}

.animate-fade-in {
  opacity: 1 !important;
  transition: opacity 1s ease-out;
}